/* TYPOGRAPHY */
/* Define fuentes, tamaños de texto, y jerarquía tipográfica. */

/* Fuentes generales */
@font-face {
  font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2');
    src: url('../fonts/Anton-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Respira Black';
    src: url('../fonts/Respira-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evangelina" ;
  src: url(../fonts/Evangelina.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*Fonts para Logo - Random Font */
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

.grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.tilt-prism-regular {
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

.workbench-regular {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-italic {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Text Styles */
.title-banner-text, .fugitiva-website {
    font-size: 2rem;
    font-family: var(--secondary-font);
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black-color);
}

h5 {
    font-size: 1;
    font-family: var(--secondary-font);
    line-height: 1.2;
    text-transform: uppercase;
}

.advice-item h3 {
    font-size: 1.75rem;
    line-height: 1.3;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}



.highlighted-text {
    font-size: 2rem;
    font-family: var(--secondary-font);
    line-height: 1.2;
}

.large-text {
    font-size: 1.75rem;
    line-height: 1.25;
    font-family: "Cormorant Garamond", serif;
    
}

.sm-text {
    font-size: 0.875rem;
}   

.left {
    text-align: left;
}